#container {
    display: grid;
    grid-template-columns: [row1-start] 25% [row1-end] auto [last-line];
}

.sidebar-icon {
    padding: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.sidebar-icon svg {
    fill: white;
}
