html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: black;
    height: 100%;
}

* {
    outline: 3px solid black;
}

body {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.grid-container {
    display: grid;
    width: 65%;
    height: 100vh;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: #60a5fa;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    padding: 20px;
}


.header {
    background-color: #ffffff;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    margin-bottom: -25px;
    z-index: 1;
}

.main-content {
    display: grid;
    background-color: #e5e7eb;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    z-index: 0;
}

.sidebar div {
    color: #ffffff;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.sidebar div span {
        margin-right: 10px;
        font-size: 1.2em;
    }


    .sidebar div:first-child {
        font-size: 1.4em;
        margin-bottom: 40px;
    }

    .sidebar div:nth-child(2) span, .sidebar div:nth-child(3) span {
        margin-bottom: 15px;
    }